.App{
  /* background-color: orangered; */
  margin: auto;
  width: 60%;
  color: white;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 15px;
}
.head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}